sourcecode_urls=https://sourcecode_url
sourcecode_dirs=sourcecode
product_url=https://product_url
product_dir=product
sourcecode_username=301645
sourcecode_password=//5173@#q
online_dir=online
site_names=test,hello
site_online_urls=https://site_online_url_0,
https://site_online_url_1
site_sourcecode_dirs=sourcecode,sourcecode1
build_batch=build.bat
copy_batches=site_0.bat,site_1.bat